
# pixi environments
.pixi
*.egg-info
.magic

# rattler-build
output/
log.txt

# data
data.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# direnv
.envrc

# mkdocs
site
