name: Check Incompatible Packages

on:
  workflow_dispatch:
  schedule:
    - cron: "0 17 * * *" # 9 AM PST

permissions:
  contents: write

jobs:
  check-incompatible-packages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2
      - uses: prefix-dev/setup-pixi@ba3bb36eb2066252b2363392b7739741bb777659 # v0.8.1
        with:
          pixi-version: v0.31.0
          activate-environment: true

      - name: Run compatibility check script
        run: pixi run remove-incompatible-packages
        env:
          GITHUB_REPOSITORY: "${{ github.repository }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Commit changes to failed-compatibility.json
        if: github.ref == 'refs/heads/main'
        run: |
          pixi run commit-changes data/failed-compatibility.json
